<div class="dashboard-container">
    <header class="dashboard-header">
        <h1 class="header-title">
            BIENVENIDO A BACKSTREET!
        </h1>
    </header>
    
    <section class="products-grid">
        {{#each products}}
            <div class="product-card">
                <img class="card-thumbnail" src="{{this.thumbnail}}" alt="{{this.title}}">
                <div class="card-body">
                    <h2 class="card-title">
                        {{this.title}}
                    </h2>
                    <h3 class="card-price">
                        Precio: ${{this.price}}
                    </h3>
                </div>
            </div>
        {{/each}}
    </section>

    <div>
        {{#each links}}
            <a href={{this.link}}>{{this.text}}</a>
        {{/each}}
    </div>
</div>